{% block title %}{% endblock %}
{% block head %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/Facture-devis/facture-devis.css') }}">
    {% endblock %}
{% block content %}

    <div class="right_block">
        <div class="right-one">
            <p>Récapitulatif</p>
        </div>
        <div class="right-two">
            <p>Qui a payé ?</p>
        </div>
        <div class="right-tree">
            <p>Je valide définitivement ma saisie</p>
        </div>
    </div>
{% endblock %}
