
{% block title %}{% endblock %}
{% block head %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/Facture-devis/facture-devis.css') }}">
    {% endblock %}
{% block content %}

    <div class="left_block">
        <div class="left_one">
            yo
        </div>
        <div class="left_two">
            yo
        </div>
        <div class="left_tree">
            yo
        </div>
    </div>
    <div class="left_four">
        DATE
    </div>
    <div class="left_five">
        CONFIRMER
    </div>

{% endblock %}
