{% include '/layout.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/Facture-devis/facture-devis.css') }}">
    {% endblock %}
{% block content %}

    <div class="colonne2">
        <button class="w3-button w3-round-xlarge w3-border w3-border-purple">Ajouter un indicateur</button>
    </div>

    page a faire.

    {% include '/footer.html.twig' %}
{% endblock %}
