
{% block title %}{% endblock %}
{% block head %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/Facture-devis/facture-devis.css') }}">
    {% endblock %}
{% block content %}

    <div class="left_block">
        <div class="left_one">
            <p>De quelle nature est votre achat ?</p>
        </div>
        <div class="left_two">
            <p>Le taux de TVA ?</p>
        </div>
        <div class="left_tree">
            <div>
                <p>Montant total</p>
            </div>
            <div>
                <p>Montant TVA</p>
            </div>
        </div>
    </div>
    <div class="left_four">
        DATE
    </div>
    <div class="left_five">
        CONFIRMER
    </div>

{% endblock %}
