

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/dashboard.css') }}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    {% endblock %}

    {% if state == true %}
        {% include 'layout.html.twig' %}
        {% if formula == 'essai' %}
            <div style="width: 700px; margin-left: auto; margin-right: auto; margin-top: 10px"
                 class="alert alert-dismissible alert-info ">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Vous êtes actuellement en période d'éssai, il vous reste <strong> {{ interval }} jours </strong>
                d'utilisation
            </div>
        {% elseif formula == 'simple' %}
            <div style="width: 490px; margin-left: auto; margin-right: auto;margin-top: 10px"
                 class="alert alert-dismissible alert-info ">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Vous bénéficiez actuellement de la formule <strong> simple </strong>
            </div>
        {% elseif formula == 'complete' %}
            <div style="width: 490px; margin-left: auto; margin-right: auto;margin-top: 10px"
                 class="alert alert-dismissible alert-info ">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Vous bénéficiez actuellement de la formule <strong> complete </strong>
            </div>
        {% endif %}
        <div class="colonne1">
            <h1>Votre Tableau de Bord</h1>
            <br>
        </div>

        <div class="w3-row-padding">

            <div class="w3-third row1">
                <div class="w3-card-4 row11">
                    <header class="w3-container">
                        <h2 class="smallhead" >Chiffre d'affaires mensuel</h2>
                    </header>

                    <div class="w3-container">
                        <p>O €</p>
                    </div>
                </div>

                <div class="w3-card-4 row12">
                    <header class="w3-container">
                        <h2 class="smallhead">Chiffre d'affaires annuel</h2>
                    </header>

                    <div class="w3-container">
                        <p>99 897 €</p>
                    </div>
                </div>

                <div class="w3-card-4 row13">
                    <header class="w3-container">
                        <h2 class="smallhead">En attente de paiement : 6 factures</h2>
                    </header>

                    <div class="w3-container">
                        <p>2869 €</p>
                    </div>
                </div>
            </div>


            <div class="w3-third row2">
                <div class="w3-card-4">
                    <div class="w3-container w3-center">
                        <h2>Evolution du chiffre d'affaires</h2>
                    </div>
                    <br>
                    <img src="http://37.187.127.4/images/capture1.png"
                         style="width: 100%;padding-bottom: 98px;" class="Graphique-CA" alt="Evolution-CA">
                </div>
            </div>


            <div class="w3-third row3">
                <div class="w3-card-4">

                    <header class="w3-container">
                        <h2 class="smallhead" >Dépenses du mois dernier</h2>
                    </header>

                    <div class="w3-container">
                        <p>12 367 €</p>
                    </div>
                    <header class="w3-container">
                        <h2 class="smallhead" >Chiffre d'affaires du mois dernier</h2>
                    </header>

                    <div class="w3-container">
                        <p>47 694 €</p>
                    </div>
                    <header class="w3-container">
                        <h2 class="smallhead" >Résultat net du mois dernier</h2>
                    </header>

                    <div class="w3-container">
                        <p>35 327 €</p>
                    </div>
                    <header class="w3-container">
                        <h2 class="smallhead" >Evolution du chiffre d'affaires</h2>
                    </header>

                    <div class="w3-container">
                        <p>44 %</p>
                    </div>

                </div>
            </div>
        </div>
        {% include 'footer.html.twig' %}

    {% elseif state != "true" and formula == 'essai' %}
        {{ include('dasboardOff.html.twig') }}
    {% endif %}
{% endblock %}



