{% include 'layout_homepage.html.twig' %}
{% block title %}{% endblock %}
{% block head %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/homePage.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    {% endblock %}
{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/js/homePage.js') }}"></script>
    {% endblock %}

{% block content %}
    <body>
    {% block body %} {% endblock %}
    <div id="first-view-js">
        <div class="welcome">
            <img src="https://dwarves.iut-fbleau.fr/git/renaults/Simpleo/raw/master/images/Logo.png"
                 class="Simpleo-logodeux" alt="Simpleo">
        </div>
        <div class="">
            <span class="welcome">Bienvenue.</span>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-third w3-container w3-green">
            <h2>w3-third</h2>
        </div>
        <div class="w3-third w3-container w3-yellow">
            <h2>w3-third</h2>
        </div>
        <div class="w3-third w3-container w3-red">
            <h2>w3-third</h2>
        </div>
    </div>

    </body>
{% endblock %}
 {% include 'footer.html.twig' %}
