{% extends 'layout_homepage.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}

    <p>Devellopement front end de la home Page en cours. Kam</p>

{% endblock %}
