<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/dashboard.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock  %}
</head>

<nav class="navColor">


    <div class="bienvenue">
        <img src="https://dwarves.iut-fbleau.fr/git/renaults/Simpleo/raw/master/images/Logo.png" class="Simpleo-logo" alt="Simpleo">
    <p>
        Bonjour, <em>{{ app.user.username }}</em>
    </p>
        </div>

    <div class="barrenav" id="">
        <ul class="headerNav">
            <li class="nav-item active-link">
                <a class="nav-link active-link" href="#">Tableau de bord</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link">Achats <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button">Achats comptants</a>
                        <a href="#" class="w3-bar-item w3-button">Enregistrer une facture</a>
                        <a href="#" class="w3-bar-item w3-button">Fournisseurs</a>
                    </div>
                </div>
            </li>


            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link">Ventes <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button">Il y aura</a>
                        <a href="#" class="w3-bar-item w3-button">Peut être</a>
                        <a href="#" class="w3-bar-item w3-button">Quelque chose ..'</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Facture et Devis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Comptabilité</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stockage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rapport</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Equipes</a>
            </li>



            {% if is_granted('ROLE_USER') %}
                <li class="nav-link"><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></li>

            {% else %}
                <li class="nav-link" ><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>

            {% endif %}

        </ul>
    </div>
</nav>



{% block content %}
<body></body>
{% endblock  %}




{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% endblock  %}

<!-- </body> -->


<!-- Footer -->
<footer class="w3-center w3-dark-grey w3-padding-64">
    <a href="#" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Retour en haut de page</a>
    <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>SimpleoTeam : les bests <3</p>
</footer>

</html>