{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/choiceMode.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/stripe.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




{% endblock %}

<body>

<div class="row ">
    <div class="col-md-10 col-md-offset-1 ">
        <div class="well well-sm text-center vertical-center">
            <div class="fadeIn first text-center">
                <img class="logo" src="http://37.187.127.4/images/Logo.png"
                     id="icon" alt="User Icon"/>
            </div>

            <fieldset>


                {% block body %}


                    <div>
                        Veuillez appuyer sur le bouton ci-dessous<br>
                        pour commencer le paiement.<br>
                        <br>
                    </div>
                    <div  style="margin-left:290px"; class="nav-space-checkout">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <form action="" method="POST">
                                        <script
                                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                data-key= "{{ stripe_public_key }}"
                                                {% if formula == 'simple' %}
                                                    data-amount="3000"
                                                    {% elseif(formula == 'complete')%}
                                                        data-amount="5000"
                                                {% endif %}
                                                data-name="Paiement"
                                                {#data-description="Widget"#}
                                                data-image="{{ asset('build/img/logo.png') }}"
                                                data-panel-label="Payer">

                                        </script>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

            </fieldset>






        </div>
    </div>
</div>


</body>

{% block extendJavascript %}

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
        {#<script>#}
        {#// Create a Stripe client.#}
        {#var stripe = Stripe('pk_test_2w31WZP6TkjlieqjHx1Uj9V700WcGUyQAm');#}
        {#// Create an instance of Elements.#}
        {#var elements = stripe.elements();#}

        {#// Custom styling can be passed to options when creating an Element.#}
        {#// (Note that this demo uses a wider set of styles than the guide below.)#}
        {#var style = {#}
            {#base: {#}
                {#color: '#32325d',#}
                {#fontFamily: '"Helvetica Neue", Helvetica, sans-serif',#}
                {#fontSmoothing: 'antialiased',#}
                {#fontSize: '16px',#}
                {#'::placeholder': {#}
                    {#color: '#aab7c4'#}
                {#}#}
            {#},#}
            {#invalid: {#}
                {#color: '#fa755a',#}
                {#iconColor: '#fa755a'#}
            {#}#}
        {#};#}

        {#// Create an instance of the card Element.#}
        {#var card = elements.create('card', {style: style});#}

        {#// Add an instance of the card Element into the `card-element` <div>.#}
        {#card.mount('#card-element');#}

        {#// Handle real-time validation errors from the card Element.#}
        {#card.addEventListener('change', function(event) {#}
            {#var displayError = document.getElementById('card-errors');#}
            {#if (event.error) {#}
                {#displayError.textContent = event.error.message;#}
            {#} else {#}
                {#displayError.textContent = '';#}
            {#}#}
        {#});#}
        {#// Handle form submission.#}
        {#var form = document.getElementById('payment-form');#}
        {#form.addEventListener('submit', function(event) {#}
            {#event.preventDefault();#}

            {#stripe.createToken(card).then(function(result) {#}
                {#if (result.error) {#}
                    {#// Inform the user if there was an error.#}
                    {#var errorElement = document.getElementById('card-errors');#}
                    {#errorElement.textContent = result.error.message;#}
                {#} else {#}
                    {#// Send the token to your server.#}
                    {#stripeTokenHandler(result.token);#}
                {#}#}
            {#});#}
        {#});#}
        {#// Submit the form with the token ID.#}
        {#function stripeTokenHandler(token) {#}
            {#// Insert the token ID into the form so it gets submitted to the server#}
            {#var form = document.getElementById('payment-form');#}
            {#var hiddenInput = document.createElement('input');#}
            {#hiddenInput.setAttribute('type', 'hidden');#}
            {#hiddenInput.setAttribute('name', 'stripeToken');#}
            {#hiddenInput.setAttribute('value', token.id);#}
            {#form.appendChild(hiddenInput);#}

            {#// Submit the form#}
            {#form.submit();#}
        {#}#}


    {#</script>#}


{% endblock extendJavascript %}