{% include 'layout.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}

    <div class="colonne1">
        <h1>Rapport (page à faire)</h1>
        <br>
    </div>

    <div class="colonne2">
        <button class="w3-button w3-round-xlarge w3-border w3-border-purple">Ajouter un indicateur</button>
    </div>

    <div class="w3-row-padding w3-center">

    </div>


    {% include 'footer.html.twig' %}
{% endblock %}
