{% include 'layout.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/rapport.css') }}">
    {% endblock %}

{% block content %}

    <div class="colonne1">
        <h1 style="margin-left: 2%;">Générez vos bilans comptables</h1>
        <br>
    </div>

    <div class="main">
        <form>
            <label>
                <span class="custom-dropdown custom-dropdown--white">
                    <select class=" selectchoice custom-dropdown__select custom-dropdown__select--white">
                        <option value="1">Bilan du mois</option>
                        <option value="2">Bilan de l'année</option>
                    </select>
                </span>
                <br>
                <div class="date">
                    <label style="margin-right: 10px;"class="affiche">Mois</label>
                    <input style="margin-right: 30px;" class="affiche" type="text" id="month" name=""
                            minlength="1" maxlength="2" >
                    <label style="margin-right: 10px;">Année</label>
                    <input type="text" id="year" name=""
                           minlength="4" maxlength="4" >
                </div>
                <br>
            </label>
        </form>
            <a href="{{ path('generate_bilan') }}"><button>Télécharger le bilan</button></a>


    </div>


    {% include 'footer.html.twig' %}
{% endblock %}

{% block extendJavascript %}
    <script src="{{ asset('build/js/rapport.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock extendJavascript %}