{% include 'layout_homepage.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/whoAreWe.css') }}">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <body style="background-color: snow">
        <h1 style="text-align: center;color: #6f2190;">Qui sommes nous ? </h1>
        <div class="wrapper">
         <div class="element">
             <h1>
                 L'entreprise
             </h1>
             <p>
                 Ciliciam vero, quae Cydno amni exultat, Tarsus nobilitat, urbs perspicabilis hanc condidisse Perseus memoratur, Iovis filius et Danaes, vel certe ex Aethiopia profectus Sandan quidam nomine vir opulentus et nobilis et Anazarbus auctoris vocabulum referens, et Mopsuestia vatis illius domicilium Mopsi, quem a conmilitio Argonautarum cum aureo vellere direpto redirent, errore abstractum delatumque ad Africae litus mors repentina consumpsit, et ex eo cespite punico tecti manes eius heroici dolorum varietati medentur plerumque sospitales.
             </p>

        </div>

        <div class="element" >

            <img src="http://37.187.127.4/images/template1.jpg" class="template1" />

        </div>


            <div class="element">
            <h1>
                Les fondateurs
            </h1>
            <p>
                Ciliciam vero, quae Cydno amni exultat, Tarsus nobilitat, urbs perspicabilis hanc condidisse Perseus memoratur, Iovis filius et Danaes, vel certe ex Aethiopia profectus Sandan quidam nomine vir opulentus et nobilis et Anazarbus auctoris vocabulum referens, et Mopsuestia vatis illius domicilium Mopsi, quem a conmilitio Argonautarum cum aureo vellere direpto redirent, errore abstractum delatumque ad Africae litus mors repentina consumpsit, et ex eo cespite punico tecti manes eius heroici dolorum varietati medentur plerumque sospitales.
            </p>
        </div>


            <div class="element" >
                <img src="http://37.187.127.4/images/template3.jpg" class="template3" />
        </div>


            <div class="element">
            <h1>
                Nos valeurs
            </h1>
            <p>
                Ciliciam vero, quae Cydno amni exultat, Tarsus nobilitat, urbs perspicabilis hanc condidisse Perseus memoratur, Iovis filius et Danaes, vel certe ex Aethiopia profectus Sandan quidam nomine vir opulentus et nobilis et Anazarbus auctoris vocabulum referens, et Mopsuestia vatis illius domicilium Mopsi, quem a conmilitio Argonautarum cum aureo vellere direpto redirent, errore abstractum delatumque ad Africae litus mors repentina consumpsit, et ex eo cespite punico tecti manes eius heroici dolorum varietati medentur plerumque sospitales.
            </p>
        </div>
            <div class="element">

                <img src="http://37.187.127.4/images/template2.jpg" class="template2" />
            </div>
        </div>
    </body>
{% endblock %}

{% include 'footer.html.twig' %}

