{% include 'layout_homepage.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/whoAreWe.css') }}">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <body >
        <h1 style="text-align: center;color: #6f2190;">Gérer votre comptabilité de la plus simple des manières avec Simpleo </h1>
        <img src="http://37.187.127.4/images/homme.png" class="man">
        <img src="http://37.187.127.4/images/laptop.png" class="laptop">
        <img src="http://37.187.127.4/images/invoice.png" class="invoice" >
        <div class="wrapper">
         <div class="element1">
             <h1>
                 Pas besoin de connaissance en comptabilité
             </h1>
             <p id="content">
                 Simpleo vous guide tout le long de vos saisies
                 <br/>
                 pas besoin de connaisance partiulière
                 <br/>
                 <br/>
                 Simpleo autommatise toutes vos écritures
                 <br/>
                 vous n'avez qu'à répondre à ses questions
             </p>

        </div>




            <div class="element2">
            <h1>
                Un outil tout en un
            </h1>
            <p id="content">
                Gérer vos factures clients, vos factures d'achats
                <br/>
                vos déclarations de TVA, vos bilans et compte de résultats
                <br/>
                <br/>
                Un tableau de bord personnalisable à souhaits
                <br/>
                Une gestion financière complète , suivez votre trésorie
                <br/>
                au jour le jour

            </p>



        </div>
        </div>
    </body>
{% endblock %}

{% include 'footer.html.twig' %}

