<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="invoice">
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                    </div>
                    <div style="text-align:center;margin-top: 40px;font-size: 25px">
                        <strong>BILAN SYNTHETIQUE</strong>
                    </div>
                </div>
            </header>
            <main>
                <div style="margin-top: 40px">
                    <strong>ACTIF</strong>
                </div>
                <br>
                <table>
                    <tr>
                        <th id="co1" headers="blank" class="headerBilan"><strong>ACTIF IMMOBILISÉ</strong></th>
                    </tr>

                    <tr>
                        <th class="alignLeft elementsTable" id="c1" headers="blank">Immobilisations corporelles</th>
                        <td class="elementsTable2" headers="co1 c1">1000€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="p1"  headers="blank">Fonds commerciaux</th>
                        <td class="elementsTable2" headers="co1 p1">500€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="e1"  headers="blank">Autres</th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="e1"  headers="blank">Immobilisations corporelles</th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="e1"  headers="blank">Immobilisations financières</th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>

                    <tr>
                        <th class="alignLeft total elementsTable" id="e1"  headers="blank"><strong>TOTAL I</strong></th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>


                    <tr>
                        <th class="hide" id="blank">&nbsp;</th>
                    </tr>
                    <tr>
                        <th class="" id="co3" headers="blank"><strong>ACTIF CIRCULANT</strong></th>
                    </tr>


                    <tr>
                        <th class="alignLeft elementsTable" id="c2"  headers="blank">Stocks et en-cours (autres quemarchandises)</th>
                        <td class="elementsTable2" headers="co3 c2">1000€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="p2" headers="blank">Marchandises</th>
                        <td class="elementsTable2" headers="co3 p2">Sales Officer</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="e2" headers="blank">Créances</th>
                        <td class="elementsTable2" headers="co3 e2">blabla</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="e2" headers="blank">    Clients et comptes rattachés</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="e2" headers="blank">    Autres</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="e2" headers="blank">Valeurs mobilières de placement</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="e2" headers="blank">Disponibilités (autre que caisse)</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="e2" headers="blank">Caisse</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>
                    <tr>
                        <th class="alignLeft total elementsTable" id="e2" headers="blank"><strong>TOTAL II</strong></th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>

                    <tr>
                        <th id="blank">&nbsp;</th>
                    </tr>
                    <tr>
                        <th class="" id="co4" headers="blank"><strong>TOTAL GENERAL</strong></th>
                    </tr>

                    <tr>
                        <th class="alignLeft elementsTable" id="e2" headers="blank">Charges contatées d'avance</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>

                    <tr>
                        <th id="blank">&nbsp;</th>
                    </tr>
                    <tr>
                        <th class="alignLeft total elementsTable" id="co4" headers="blank"><strong>TOTAL GENERAL I+II+III</strong></th>
                        <td class="elementsTable2" headers="co4 e2">Suz@ltd3.example.com</td>
                    </tr>

                </table>
                <br>
                <div style="margin-top: 40px">
                    <strong>PASSIF</strong>
                </div>
                <br>
                <table>
                    <tr>
                        <th id="co1" headers="blank" class=""><strong>CAPITAUX PROPRES</strong></th>
                    </tr>

                    <tr>
                        <th class="alignLeft elementsTable" id="c1" headers="blank">Capital</th>
                        <td class="elementsTable2" headers="co1 c1">1000€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="c1" headers="blank">Écarts de réévaluation</th>
                        <td class="elementsTable2" headers="co1 c1">1000€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="c1" headers="blank">Réserves</th>
                        <td class="elementsTable2" headers="co1 c1">1000€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="p1"  headers="blank">Réserve légale</th>
                        <td class="elementsTable2" headers="co1 p1">500€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="e1"  headers="blank">Réserves reglementées</th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="e1"  headers="blank">Autres</th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="e1"  headers="blank">Report à nouveau</th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="e1"  headers="blank">Résultat de l'exercice (bénéfice ou perte)</th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="e1"  headers="blank">Provisions reglementées</th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>

                    <tr>
                        <th class="alignLeft total elementsTable" id="e1"  headers="blank"><strong>TOTAL I</strong></th>
                        <td class="elementsTable2" headers="co1 e1">500€</td>
                    </tr>


                    <tr>
                        <th class="hide" id="blank">&nbsp;</th>
                    </tr>
                    <tr>
                        <th class="" id="co3" headers="blank"><strong>DETTES</strong></th>
                    </tr>


                    <tr>
                        <th class="alignLeft elementsTable" id="c2"  headers="blank">Provisions pour risques er charges</th>
                        <td class="elementsTable2" headers="co3 c2">1000€</td>
                    </tr>
                    <tr>
                        <th class="alignLeft elementsTable" id="p2" headers="blank">Dettes</th>
                        <td class="elementsTable2" headers="co3 p2">Sales Officer</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="e2" headers="blank">Emprunts et dettes assimilées</th>
                        <td class="elementsTable2" headers="co3 e2">blabla</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="e2" headers="blank">Avances et acomptes reçus sur commandes</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="e2" headers="blank">Fournisseurs et comptes rattachés</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>
                    <tr>
                        <th class="alignLeft sous_categorie elementsTable" id="e2" headers="blank">Autres</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>

                    <tr>
                        <th class="alignLeft total elementsTable" id="e2" headers="blank"><strong>TOTAL II</strong></th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>

                    <tr>
                        <th id="blank">&nbsp;</th>
                    </tr>
                    <tr>
                        <th class="" id="co4" headers="blank"><strong>TOTAL GENERAL</strong></th>
                    </tr>

                    <tr>
                        <th class="alignLeft elementsTable" id="e2" headers="blank">Produits contatées d'avance</th>
                        <td class="elementsTable2" headers="co3 e2">Suz@ltd3.example.com</td>
                    </tr>

                    <tr>
                        <th id="blank">&nbsp;</th>
                    </tr>
                    <tr>
                        <th class="alignLeft total elementsTable" id="co4" headers="blank"><strong>TOTAL GENERAL I+II+III</strong></th>
                        <td class="elementsTable2" headers="co4 e2">Suz@ltd3.example.com</td>
                    </tr>

                </table>
            </main>
        </div>
    </div>
</div>
<style>
    html{
        font-family: "Helvetica", arial, sans-serif;
    }

    .total{
        padding-left: 100px;
    }

    .sous_categorie{
        padding-left: 30px;
    }

    .hide{
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .invoice {
        position: relative;
        background-color: #FFF;
        padding: 15px
    }
    .invoice header {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid rebeccapurple
    }

    .invoice table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px
    }

    .alignLeft{
        text-align: left;
    }

    .headerBilan{
        padding-right: 10px;
    }

    .elementsTable {
        white-space: nowrap;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid #aaa;
    }

    .elementsTable2 {
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        border-right: 1px solid #aaa;
    }


</style>
</body>
</html>